
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat','Roboto' 'Space Mono', monospace, sans-serif;
}

.navbar {
    background-color: #4C5279;
}


.fa-envelope, .fa-check-double, .fa-phone, .fa-fire {
    font-size: 40px;
    margin: auto;
    padding: 20px 0;
}


a {
   color: #B15359;
   -webkit-transition: all .35s;
   -moz-transition: all .35s;  
   transition: all .35s;  
}


a:hover, a:focus {
    color: #4E3D5D;
}


p {
    font-size: 16px;
    line-height: 1.5;
}


h3 {
    color: #FAB05C;
}


header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('https://images.pexels.com/photos/2397414/pexels-photo-2397414.jpeg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner h1 {
        font-size: 100px;
        }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}



.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}


.intro {
    color: #fff;
    background-color: #FAB05C;
    padding: 70px 0;
    text-align: center;
}

.section-1, .section-2 {
    padding: 100px 0;
}


.section-2 {
    color: #fff;
}


.section-3 {
    padding: 20px 0 40px;
    text-align: center;
}

.section-2bg-color {
    background-color: #4C5279;

}

img {
    border-radius: 50%;
}


.item-1 {
    background: url('https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg');
    }
    
.item-2 {
    background: url('https://images.pexels.com/photos/12579667/pexels-photo-12579667.jpeg');
    }
    
.item-3 {
    background: url('https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg');
    }
       

.item-1,
.item-2,
.item-3 {
    background-size: cover;
    background-position: 50% 50%;
    }


.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
    text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
    align-content: center;
}


.promo-item:hover {
    background-size: 110%; 
    border: 5px solid rgba(255,255,255,0.3);
    line-height: 160px; 
}


.promo-item h3 {
    font-size: 40px;
    color: #FAB05C;
    display: inline-block;
    vertical-align: middle;
}



.btn {
 background-color: #F4BF98;
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}



.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.small-print {
    padding:  50px 0 40px;
}

.page-footer {
    text-align: center;
    }

.page-footer .contact {
    padding: 100px 0;
    background-color: #FAB05C;
    color: #fff;
    }

.page-footer .contact p {
    font-size: 22px;
    font-weight: 300;
    }

        
.page-footer .small-print {
    padding: 50px 0 40px;
    font-weight: 300;
    }

.text-light {
    color: rgba(255,255,255,.7);
}


.fa-check-double {
    color: #FAB05C;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    background-color: #4C5279;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}



.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #B15359;
    color: #fff;
    background-color: #B15359;
}



